
  <div class="container" *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>


<!-- User NOT logged in -->

  <ng-template #guest>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="icon-block">
            <h2 class="text-center text-primary"><i class="material-icons">flash_on</i></h2>
            <h5 class="text-center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  </ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Bienvenido, {{ user.displayName }}</h3>
    <img class="img-fluid" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <p>Tu sede es: {{getSede(user.sede)}}</p>
    <p>Tu rol es: {{user.rol}}</p>
    <button class="button" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="auth.user | async as user"> 
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile>
          <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>

      </mat-grid-tile>
      <mat-grid-tile>
          {{getSede(user.sede)}}
    </mat-grid-tile>
    <mat-grid-tile>
        {{user.rol}}
    </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>
