<mat-toolbar color="primary">    
    <span class="text-center">
      Atender Paciente <i class="fa fa-heart"></i>
    </span>    
    <span class="demo-toolbar"></span>    
  </mat-toolbar>  
  <div class="container">
      
        <ng-container *ngIf="exits_paciente; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <mat-card>
                El usuario existe
            </mat-card>
        </ng-template>
        <ng-template #elseTemplate>
            <mat-card>
                El usuario no existe
            </mat-card>
        </ng-template>
        

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Datos personales</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <div class="example-container">
                  <br>
                    <mat-radio-group [(ngModel)]="formPaciente.tipoPaciente">
                        <mat-radio-button value="1">Estudiante</mat-radio-button>
                        <mat-radio-button value="2">Empleado</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field>
                        <input matInput (blur)="consultarHistorialMedico()" [(ngModel)]="formPaciente.documento" type="number" placeholder="Documento de identidad">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="formPaciente.nombre" placeholder="Nombre completo">
                    </mat-form-field>
      
                    <div class="example-container" *ngIf="formPaciente.tipoPaciente == '1'"> 
                        <mat-form-field>
                            <input matInput [(ngModel)]="formPaciente.codigo" placeholder="Codigo">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="formPaciente.semestre" placeholder="Semestre">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="formPaciente.programa" placeholder="Programa">
                              <mat-option value="1">Rellenar con </mat-option>
                              <mat-option value="2">Programas   </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="example-container" *ngIf="formPaciente.tipoPaciente == '2'"> 
                        <mat-form-field>
                            <mat-select [(ngModel)]="formPaciente.estamento" placeholder="Estamento">
                              <mat-option value="1">Administrativo</mat-option>
                              <mat-option value="2">Docente</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="formPaciente.cargo" placeholder="Cargo">
                        </mat-form-field>
                    </div>
                  
                  </div>
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
      
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Observaciones medicas</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <div class="example-container">            
                    <mat-form-field>
                        <mat-label>Diagnostico medico</mat-label>
                        <textarea matInput [(ngModel)]="formPaciente.diagnostico"
                                  cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize"
                                  cdkAutosizeMinRows="2"
                                  cdkAutosizeMaxRows="5"></textarea>
                      </mat-form-field>
      
                      <mat-form-field>
                          <mat-label>Observaciones</mat-label>
                          <textarea matInput [(ngModel)]="formPaciente.observaciones"
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="2"
                                    cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>

                  </div>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        <button mat-raised-button color="warn">Borrar</button>
  </div>